@use "../variables" as v;

#loginPageWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  .dashboard-content-wrap {
    flex-grow: 1;
    background-color: v.$white;
    height: 100vh;
    position: relative;
  }
}

#dashboard-sidebar {
  position: relative;
  height: 100vh;
  background: v.$bgColor;
  width: 200px;
  overflow: hidden;
  .sb-header {
    width: 140px;
    margin: 30px 0 30px 30px;
    a {
      font-size: 1.3rem;
      color: v.$grey;
    }
  }
  .sb-nav {
    width: 140px;
    border-top: v.$white25 2px solid;
    margin: 30px 0 30px 30px;
  }
  .sb-nav-footer {
    width: 140px;
    position: absolute;
    left: 30px;
    bottom: 30px;
  }
  .nav-items {
    display: block;
    margin: 30px 0 0 0;
    a {
      color: v.$darkGrey;
      font-size: 0.7rem;
      font-family: var(--fonts-poppins);
      font-weight: 400;
      text-transform: uppercase;
      display: block;
      svg {
        @include v.transform(scale(1));
      }
      span {
        margin: 0 0 0 20px;
      }
    }
  }
  &.close {
    width: 80px;
    .nav-items {
      a {
        span {
          display: none;
        }
      }
    }
  }
}

// Ai Page

.dashboard-content-ai {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  .ai-response-wrap {
    width: 80%;
    h1,
    h2 {
      font-family: var(--fonts-poppins);
      font-weight: 800;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-family: var(--fonts-poppins);
      font-weight: 300;
      font-size: 2rem;
      color: v.$grey;
      margin: 0 0 50px 0;
    }
    .ai-response-box-wrap {
      position: absolute;
      left: 0;
      bottom: 0;
      padding-bottom: 200px;
      top: 0;
      width: 100%;
      overflow-y: scroll;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      overflow-y: scroll;
    }
    .ai-response-box {
      width: 70%;
      p {
        color: v.$primaryFontColor;
        font-weight: 400;
        font-size: 0.9rem;
        strong {
          font-size: 1.1rem;
          display: block;
          font-weight: 800;
          padding: 20px 0 10px 0;
        }
      }
    }
    .ai-prompt-wrap {
      padding: 40px 0 30px 0;
      width: 100%;
      z-index: 5;
      position: relative;
      z-index: 10;
      .ai_prompt_textarea {
        width: 100%;
        background: v.$bgColor;
        padding: 15px 30px;
        height: auto;
        resize: none;
        outline: none;
        &:disabled {
          opacity: 0.3;
        }
      }
      .ai-disclamer {
        margin: 20px 0 0 0;
        display: block;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 400;
        color: v.$grey;
      }
    }
  }
}

.gemResponseWrap, .gemLoader {
  position: relative;
  background: v.$bgColor;
  padding: 1.5% 2.5%;
  background: v.$bgColor;
  margin: 50px 0 0 10px;
  width: 80%;
  float: left;
  &.user {
    background-color: v.$primaryBlue;
    color: v.$white;
    width: 80%;
    float: right;
    margin: 30px 10px 0 0;
    p {
      color: v.$white!important;
    }
  }
  .gemProfileImage {
    position: absolute;
    width: 70px;
    height: 70px;
    overflow: hidden;
    top: -5px;
    @include v.backgroundSize(cover);
    &.gem_image {
      right: -100px;
    }
    &.user_image {
      left: -100px;
    }
  }
}
