p {
  color: rgba(0, 0, 0, 0.9);
}

.gradient-text {
  color: #e84972;
}

@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .gradient-text {
    background-image: linear-gradient(60deg, #e84972, #1384f3);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
  }
}
#loginPageWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}
#loginPageWrapper .dashboard-content-wrap {
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  position: relative;
}

#dashboard-sidebar {
  position: relative;
  height: 100vh;
  background: rgb(16, 24, 38);
  width: 200px;
  overflow: hidden;
  border: rgb(255, 255, 255) 4px solid;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -o-border-radius: 2rem;
}
#dashboard-sidebar .sb-header {
  width: 140px;
  margin: 30px 0 30px 30px;
}
#dashboard-sidebar .sb-header a {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
}
#dashboard-sidebar .sb-nav {
  width: 140px;
  border-top: rgba(0, 0, 0, 0.25) 2px solid;
  margin: 30px 0 30px 30px;
}
#dashboard-sidebar .sb-nav-footer {
  width: 140px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
#dashboard-sidebar .nav-items {
  display: block;
  margin: 30px 0 0 0;
}
#dashboard-sidebar .nav-items a {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  font-family: var(--fonts-poppins);
  font-weight: 400;
  text-transform: uppercase;
  display: block;
}
#dashboard-sidebar .nav-items a svg {
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -o-transform: scale(1) !important;
}
#dashboard-sidebar .nav-items a span {
  margin: 0 0 0 20px;
}
#dashboard-sidebar.close {
  width: 90px;
}
#dashboard-sidebar.close .nav-items a span {
  display: none;
}

.dashboard-content-ai {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
.dashboard-content-ai .ai-limits-wrap {
  background: rgb(16, 24, 38);
  padding: 1.5%;
}
.dashboard-content-ai .ai-response-wrap {
  width: 100%;
}
.dashboard-content-ai .ai-response-wrap h1,
.dashboard-content-ai .ai-response-wrap h2 {
  font-family: var(--fonts-poppins);
}
.dashboard-content-ai .ai-response-wrap .ai-repsonse-box-intro p {
  font-family: var(--fonts-poppins);
  margin: 10px 0 30px 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4) !important;
}
.dashboard-content-ai .ai-response-wrap .ai-repsonse-box-intro.hide {
  display: none;
}
.dashboard-content-ai .ai-response-wrap .ai-response-box-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 200px;
  top: 0;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.dashboard-content-ai .ai-response-wrap .ai-response-box {
  width: 100%;
  padding: 2.5%;
}
.dashboard-content-ai .ai-response-wrap .ai-response-box p {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}
.dashboard-content-ai .ai-response-wrap .ai-response-box p strong {
  font-size: 1.1rem;
  display: block;
  font-weight: 800;
  padding: 20px 0 10px 0;
}
.dashboard-content-ai .ai-response-wrap .ai-prompt-wrap {
  padding: 40px 2.5% 30px 2.5%;
  width: 100%;
  z-index: 5;
  position: relative;
  z-index: 10;
}
.dashboard-content-ai .ai-response-wrap .ai-prompt-wrap .ai_prompt_textarea {
  width: 100%;
  background: #f4f4f4;
  padding: 15px 30px;
  height: auto;
  resize: none;
  outline: none;
}
.dashboard-content-ai .ai-response-wrap .ai-prompt-wrap .ai_prompt_textarea:disabled {
  opacity: 0.3;
}
.dashboard-content-ai .ai-response-wrap .ai-prompt-wrap .ai-disclamer {
  margin: 20px 0 0 0;
  display: block;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.gemResponseWrap, .gemLoader {
  position: relative;
  width: 80%;
  float: left;
  margin-top: 60px;
}
.gemResponseWrap span, .gemLoader span {
  color: rgba(0, 0, 0, 0.9);
}
.gemResponseWrap .gemResponseBox, .gemLoader .gemResponseBox {
  background: #f4f4f4;
  padding: 25px;
  margin-top: 10px;
}
.gemResponseWrap.user, .gemLoader.user {
  color: rgb(255, 255, 255);
  width: 80%;
  float: right;
}
.gemResponseWrap.user .gemResponseBox, .gemLoader.user .gemResponseBox {
  background-color: #1384f3;
  color: rgb(255, 255, 255) !important;
}
.gemResponseWrap .gemProfileImage, .gemLoader .gemProfileImage {
  position: absolute;
  width: 70px;
  height: 70px;
  overflow: hidden;
  top: -5px;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}
.gemResponseWrap .gemProfileImage.gem_image, .gemLoader .gemProfileImage.gem_image {
  right: -100px;
}
.gemResponseWrap .gemProfileImage.user_image, .gemLoader .gemProfileImage.user_image {
  left: -100px;
}

.dashboard-content-settings {
  position: relative;
  width: 100%;
  padding: 2.5%;
}
.dashboard-content-settings .db-settingsForm .fire_uid {
  display: none;
}

.dashboard-content-journal {
  position: relative;
  width: 100%;
  padding: 2.5%;
}/*# sourceMappingURL=dashboard.css.map */